body{
    height:100vh;
    width:100vw;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;

}

.login-form{
     height: 30vh;
     width: 20vw;
     border-radius: 8px;
     background-color:blueviolet;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 0px solid black;
     outline: none;
     /* gap: 1.5rem; */
     box-shadow:
     12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
     100px 100px 80px rgba(0, 0, 0, 0.07)
   ;
}

.login-input{
    padding: .5rem;
    box-shadow:
  2.3px 2.3px 1.9px rgba(0, 0, 0, 0.018),
  5.4px 5.4px 4.3px rgba(0, 0, 0, 0.026),
  9.7px 9.7px 7.7px rgba(0, 0, 0, 0.032),
  16.1px 16.1px 12.8px rgba(0, 0, 0, 0.038),
  26.5px 26.5px 21.2px rgba(0, 0, 0, 0.044),
  46.2px 46.2px 37px rgba(0, 0, 0, 0.052),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
    border-radius: 4px;
    width:80%;
    border: 0px;
    outline: none;
    border-bottom: 2px solid transparent;
}
.login-input:focus{
    border-bottom: 2px solid green;
}

.login-btn{
    padding: 1rem;
    background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 4px;
    width:80%;
    border: 0px;
    outline: none;
    cursor: pointer;
    border: 3px solid transparent;
}


.login-btn:hover{
    border:3px solid whitesmoke;
    box-shadow:
    2.3px 2.3px 1.9px rgba(0, 0, 0, 0.018),
    5.4px 5.4px 4.3px rgba(0, 0, 0, 0.026),
    9.7px 9.7px 7.7px rgba(0, 0, 0, 0.032),
    16.1px 16.1px 12.8px rgba(0, 0, 0, 0.038),
    26.5px 26.5px 21.2px rgba(0, 0, 0, 0.044),
    46.2px 46.2px 37px rgba(0, 0, 0, 0.052),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}